@model IEnumerable<BanHang.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Danh Mục</label>
        </th>
        <th>
            Sản Phẩm
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Đặc tả
        </th>
        <th>Hành Động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.NameCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProduct }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProduct }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProduct })
            </td>
        </tr>
    }

</table>
