@model BanHang.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-danger">@ViewBag.LoginError</h2>

<div class="container">
    <div class="col-md-6 offset-md-3 pt-5  ">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card align-items-center">
                <h2>Đăng nhập</h2>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, "Email :")
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, "Mật khẩu :")
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control ", @placeholder = " password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                </div>


                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                </div>

            </div>
        }
    </div>
</div>