<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container-fluid ">
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="navbar-header">
                @Html.ActionLink("Trang Chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @if (Session["id_user"] == null)
                {
                    @Html.ActionLink("Đăng ký", "Register", "Home", new { @class = "navbar-brand" })
                    @Html.ActionLink("Đăng nhập", "Login", "Home", new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Đăng xuất", "Logout", "Home", new { @class = "navbar-brand" })
                }
                    <img src="@Url.Content("~/Content/image/cart.png")" style=" padding-top:6px; width:35px; height:35px; float:right; " />
                    @Html.Action("BagCart", "ShoppingCart")
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nguyễn Thị Phượng_1621050362_THKT61</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
